@import 'variables.scss';
@import 'auth.scss';
@import 'apps.scss';

html {
  background-color: var(--color-background);
  font-family: 'Roboto', sans-serif;
}

.authPage {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
